{{#wallpaper}}
wallpaper {
   monitor = 
   path = {{.}}
   fit_mode = {{fit_mode}}
}
{{/wallpaper}}

{{#splash}}
splash = true {{#splash_offset}}, {{.}} {{/splash_offset}}
{{/splash}}
{{^splash}}
splash = false
{{/splash}}
