{{% "color" : "#{ax}{rx}{gx}{bx}" %}}
[ColorScheme]
{{#active}}active_colors = {{window_text}}, {{button}}, {{light}}, {{midlight}}, {{dark}}, {{mid}}, {{text}}, {{bright_text}}, {{button_text}}, {{base}}, {{window}}, {{shadow}}, {{highlight}}, {{highlighted_text}}, {{link}}, {{link_visited}}, {{alternate_base}}, {{no_role}}, {{tool_tip_base}}, {{placeholder_text}}, {{accent}}{{/active}}
{{#inactive}}inactive_colors = {{window_text}}, {{button}}, {{light}}, {{midlight}}, {{dark}}, {{mid}}, {{text}}, {{bright_text}}, {{button_text}}, {{base}}, {{window}}, {{shadow}}, {{highlight}}, {{highlighted_text}}, {{link}}, {{link_visited}}, {{alternate_base}}, {{no_role}}, {{tool_tip_base}}, {{placeholder_text}}, {{accent}}{{/inactive}}
{{#disabled}}disabled_colors = {{window_text}}, {{button}}, {{light}}, {{midlight}}, {{dark}}, {{mid}}, {{text}}, {{bright_text}}, {{button_text}}, {{base}}, {{window}}, {{shadow}}, {{highlight}}, {{highlighted_text}}, {{link}}, {{link_visited}}, {{alternate_base}}, {{no_role}}, {{tool_tip_base}}, {{placeholder_text}}, {{accent}}{{/disabled}}
