{{% "color" : "rgba({r}, {g}, {b}, {af})" %}}

@define-color window_bg_color {{window_bg_color}};
@define-color window_fg_color {{window_fg_color}};
@define-color view_bg_color {{view_bg_color}};
@define-color view_fg_color {{view_fg_color}};
@define-color accent_bg_color {{accent_bg_color}};
@define-color accent_fg_color {{accent_fg_color}};
@define-color headerbar_bg_color {{headerbar_bg_color}};
@define-color headerbar_fg_color {{headerbar_fg_color}};
@define-color headerbar_backdrop_color @window_bg_color;
@define-color popover_bg_color {{popover_bg_color}};
@define-color popover_fg_color {{popover_fg_color}};
@define-color dialog_bg_color {{dialog_bg_color}};
@define-color dialog_fg_color {{dialog_fg_color}};
@define-color card_bg_color {{card_bg_color}};
@define-color card_fg_color {{card_fg_color}};
@define-color sidebar_bg_color {{sidebar_bg_color}};
@define-color sidebar_fg_color {{sidebar_fg_color}};
@define-color sidebar_backdrop_color @sidebar_bg_color;
@define-color sidebar_shade_color {{sidebar_shade_color}};
@define-color sidebar_border_color {{sidebar_border_color}};
@define-color secondary_sidebar_bg_color @sidebar_bg_color;
@define-color secondary_sidebar_fg_color @sidebar_bg_color;
@define-color secondary_sidebar_backdrop_color @sidebar_backdrop_color;
@define-color secondary_sidebar_shade_color @sidebar_shade_color;
@define-color secondary_sidebar_border_color @sidebar_border_color;
@define-color destructive_bg_color {{destructive_bg_color}};
@define-color success_bg_color {{success_bg_color}};
@define-color warning_bg_color {{warning_bg_color}};
@define-color error_bg_color {{error_bg_color}};

:root {
	--accent-blue: {{accent_blue}};
	--accent-teal: {{accent_teal}};
	--accent-green: {{accent_green}};
	--accent-yellow: {{accent_yellow}};
	--accent-orange: {{accent_orange}};
	--accent-red: {{accent_red}};
	--accent-pink: {{accent_pink}};
	--accent-purple: {{accent_purple}};
	--accent-slate: {{accent_slate}};
	--accent-bg-color: @accent_bg_color;
	--accent-fg-color: @accent_fg_color;
	--window-bg-color: @window_bg_color;
	--window-fg-color: @window_fg_color;
	--view-bg-color: @view_bg_color;
	--view-fg-color: @view_fg_color;
	--headerbar-bg-color: @headerbar_bg_color;
	--headerbar-fg-color: @headerbar_fg_color;
	--headerbar-backdrop-color: @headerbar_backdrop_color;
	--sidebar-bg-color: @sidebar_bg_color;
	--sidebar-fg-color: @sidebar_fg_color;
	--sidebar-backdrop-color: @sidebar_backdrop_color;
	--sidebar-shade-color: @sidebar_shade_color;
	--sidebar-border-color: @sidebar_border_color;
	--secondary-sidebar-bg-color: @secondary_sidebar_bg_color;
	--secondary-sidebar-fg-color: @secondary_sidebar_fg_color;
	--secondary-sidebar-backdrop-color: @secondary_sidebar_backdrop_color;
	--secondary-sidebar-shade-color: @secondary_sidebar_shade_color;
	--secondary-sidebar-border-color: @secondary_sidebar_border_color;
	--card-bg-color: @card_bg_color;
	--card-fg-color: @card_fg_color;
	--dialog-bg-color: @dialog_bg_color;
	--dialog-fg-color: @dialog_fg_color;
	--popover-bg-color: @popover_bg_color;
	--popover-fg-color: @popover_fg_color;
	--destructive-bg-color: @destructive_bg_color;
	--success-bg-color: @success_bg_color;
	--warning-bg-color: @warning_bg_color;
	--error-bg-color: @error_bg_color;
}
