name: Check commit messages
on:
  push:
  pull_request:

jobs:
  cog_check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Check for conventional commits compliance
        id: cog_check
        uses: cocogitto/cocogitto-action@v4.1.0
        with:
          command: check
          args: --from-latest-tag --ignore-merge-commits
      - name: Print summary
        if: always()
        run:
          echo "${{ steps.cog_check.outputs.stdout }}" >> "$GITHUB_STEP_SUMMARY"
