name: Check commit messages
on:
  push

jobs:
  cog_check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Check for conventional commits compliance
        id: cog_check
        uses: cocogitto/cocogitto-action@v4
        with:
          command: check
          args: --from-latest-tag --ignore-merge-commits
      - name: Print summary
        run: echo "${{ steps.cog_check.outputs.stdout }}" >> "$GITHUB_STEP_SUMMARY"
