name: Test
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup rust environment
        run: |
          rustup update stable
          rustup default stable
      - name: Checkout
        uses: actions/checkout@v5
      - name: Test
        run: |
          cargo test
